<h3>APIs</h3>
<div id="sidebar">
	<ul id="main-nav" class="nav nav-tabs">
		<li class="active">
			<a href="#classes" data-toggle="tab">Classes</a>
		</li>
		<li>
			<a href="#modules" data-toggle="tab">Modules</a>
		</li>
	</ul>


	<div class="tab-content" style="border: 1px solid #DDD; border-top:0; padding-top: 10px; ">
		<div class="tab-pane active" id="classes">
			{{#tree classes}}
				- <a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a>
			{{/tree}}
		</div>

		<div class="tab-pane" id="modules">
			<ul class="list-unordered">
				{{#allModules}}
					<li><a href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a></li>
				{{/allModules}}
			</ul>
		</div>
	</div>
</div>
