<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{htmlTitle}}</title>
	<link rel="stylesheet" href="{{yuiGridsUrl}}">
	<link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">

	<link rel="stylesheet" href="{{projectAssets}}/css/custom.css">

	<link rel="stylesheet" href="{{projectAssets}}/vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="{{projectAssets}}/vendor/bootstrap/css/bootstrap-theme.css">
	<link rel="shortcut icon" type="image/png" href="{{projectAssets}}/favicon.png">
</head>
<body class="yui3-skin-sam">

<div class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-brand">
			<!-- {{#if projectLogo}}
				<img alt="{{projectName}}" src="{{projectLogo}}" style="max-height: 65%;" title="{{projectName}}">
			{{else}}
				<img alt="{{projectName}}" src="{{projectAssets}}/css/logo.png" style="max-height: 65%;"
				     title="{{projectName}}">
			{{/if}} -->
			{{projectName}} (v{{projectVersion}})
		</div>

		<form class="navbar-form navbar-right">
			<div class="form-group">
				<input type="text" class="form-control"  placeholder="Search for classes/modules..."
				       data-obj='[{{#search classes allModules}}{{/search}}]'>
			</div>
		</form>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3">
			{{>sidebar}}
		</div>
		<div class="col-lg-9">
			{{>options}}
			<div class="apidocs">
				<div id="docs-main">
					<div class="content">{{>layout_content}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{{projectAssets}}/vendor/jquery/jquery-2.1.3.min.js"></script>
<script src="{{projectAssets}}/vendor/bootstrap/js/typeahead.js"></script>
<script src="{{projectAssets}}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<script src="{{projectAssets}}/js/yuidoc-bootstrap.js"></script>
<script>prettyPrint();</script>
</body>
</html>
